@import "bootstrap";

body {
	background-color: #eee;
}

body h1{
	text-align: center;
	padding-bottom: 20px;
}

.main {
	padding-top: 20px;
}

.jumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url('cover.jpg');
  background-size: cover;

}

.vertical-center {
	min-height: 100%;
	display: flex;
	align-items: center;
}
.jumbotron .right{
	padding-top: 60px;
	color: #fff
}



.btn-facebook {
	  background: #3B5998;
	  color: #fff;
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}

.user-list {
	display: flex;
	margin-bottom: 50px;
	-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.42);
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.42);
	background-color: #fff;
	border-radius: 5px;
}

.user-avatar {
	padding-right: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.user-body {
	padding-top: 50px;
}